@using eduzora_lms.Models.Admin.ViewModels
@model ForgotPasswordViewModel

@{
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="page-top" style="background-image: url('@Url.Content("~/uploads/banner.jpg")')">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Forget Password</h2>
				<div class="breadcrumb-container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="~/">Home</a></li>
						<li class="breadcrumb-item active">Forget Password</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-content pt_70 pb_70">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
				<!-- form content -->
				<form method="post" asp-controller="Account" asp-action="ForgotPassword">
					<div class="login-form">
						<div class="mb-3">
							<label for="" class="form-label">Email Address</label>
							<input type="text" class="form-control" asp-for="Email" autocomplete="off" placeholder="Email Address">
						</div>
						<div class="mb-3">
							<button type="submit" class="btn btn-primary bg-website" name="form_student">
								Submit
							</button>
							<a asp-controller="Account" asp-action="Login" class="primary-color">Back to Login Page</a>
						</div>
					</div>
				</form>
				<!-- // form content -->
			</div>
		</div>
	</div>
</div>