@using eduzora_lms.Models.Admin.ViewModels
@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="page-top" style="background-image: url('@Url.Content("~/uploads/banner.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Reset Password</h2>
                <div class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/">Home</a></li>
                        <li class="breadcrumb-item active">Reset Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content pt_70 pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">

                <!-- form content -->
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    <div class="login-form">

                        @* Hidden fields for UserId and Token from the URL *@
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="Token" />


                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password" class="form-control" asp-for="Password" autocomplete="off" placeholder="New Password">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off" placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary bg-website">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                <!-- // form content -->

            </div>
        </div>
    </div>
</div>
