@model List<eduzora_lms.Models.Admin.Domain.Category>

@{
	Layout = "_LayoutAdmin";
}

<div class="main-content">
	<section class="section">
		<div class="section-header d-flex justify-content-between">
			<h1>All Categories</h1>
			<div class="ml-auto">
				<a asp-controller="Category" asp-action="Add" class="btn btn-primary"><i class="fas fa-plus"></i> Add New</a>
			</div>
		</div>
		<div class="section-body">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">

								@if (Model != null && Model.Any())
								{

									<table class="table table-bordered" id="example1">
										<thead>
											<tr>
												<th>SL</th>
												<th>Name</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var category in Model)
											{
													<tr>
													<td>@category.Id</td>
													<td>@category.CategoryName</td>
													<td class="pt_10 pb_10">

														<a asp-area="" asp-controller="Category" asp-action="Edit"
														   asp-route-id="@category.Id"
														   class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>

														<form asp-controller="Category" asp-action="Delete" method="post" style="display:inline-block;">

															<input type="hidden" name="id" value="@category.Id" />

															<button class="btn btn-danger btn-sm" onClick="return confirm('Are you sure?');">
																<i class="fas fa-trash"></i>
															</button>

														</form>

													</td>
												</tr>
											}
										</tbody>
									</table>
								}
								else
								{
									<center>
										<p>No Category Found !</p>
									</center>
								}


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>