@model eduzora_lms.Models.Instructor.ViewModels.AddCourseRequestViewModel

@{
	Layout = "_LayoutUser";
}

<div class="page-top" style="background-image: url('@Url.Content("~/uploads/banner.jpg")')">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Create Course</h2>
				<div class="breadcrumb-container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="~/">Home</a></li>
						<li class="breadcrumb-item active">Create Course</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-content user-panel pt_70 pb_70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<div class="card">
					@await Html.PartialAsync("_SidebarInstructor")
				</div>
			</div>
			<div class="col-lg-9 col-md-12">
				<form asp-controller="CreateCourse" asp-action="Add" method="post" enctype="multipart/form-data">

					<div class="row">

						<div class="col-md-12 mb-3">
							<label for="">Title *</label>
							<div class="form-group">
								<input type="text" class="form-control" asp-for="Title">
								<span asp-validation-for="Title" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<label for="">Slug *</label>
							<div class="form-group">
								<input type="text" class="form-control" asp-for="Slug">
								<span asp-validation-for="Slug" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="">Price *</label>
							<div class="form-group">
								<input type="number" class="form-control" asp-for="Price">
								<span asp-validation-for="Price" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="">Old Price</label>
							<div class="form-group">
								<input type="number" class="form-control" asp-for="PriceOld">
								<span asp-validation-for="PriceOld" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="Category_id">Select Category *</label>
							<div class="form-group">
								<select class="form-select" asp-for="Category_id" asp-items="Model.Categories">

									<option value="">Select Category</option>

								</select>
								<span asp-validation-for="Category_id" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="Level_id">Select Level *</label>
							<div class="form-group">
								<select class="form-select" asp-for="Level_id" asp-items="Model.Levels">

									<option value="">Select Level</option>
								</select>
								<span asp-validation-for="Level_id" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="Language_id">Select Language *</label>
							<div class="form-group">
								<select class="form-select" asp-for="Language_id" asp-items="Model.Languages">

									<option value="">Select Language</option>

								</select>
								<span asp-validation-for="Language_id" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<label for="">Description *</label>
							<div class="form-group">

								<textarea class="form-control editor" asp-for="Description">

								</textarea>
								<span asp-validation-for="Description" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="">Featured Photo *</label>
							<div class="form-group">
								<input type="file" asp-for="FeaturedPhotoFile">
								<div>
									<span asp-validation-for="FeaturedPhotoFile" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="">Featured Banner *</label>
							<div class="form-group">
								<input type="file" asp-for="FeaturedBannerFile">
								<div>
									<span asp-validation-for="FeaturedBannerFile" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="">Featured Video Type *</label>
							<div class="form-group">
								<select class="form-select" id="featured_video_type" asp-for="FeaturedVideoType">
									<option value="">Select Video Type</option>
									<option value="youtube">YouTube</option>
									<option value="vimeo">Vimeo</option>
									<option value="mp4">MP4</option>
								</select>
								<span asp-validation-for="FeaturedVideoType" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6 mb-3" id="youtube" style="display:none;">
							<label for="">Featured Video Content (YouTube) *</label>
							<div class="form-group">
								<input type="text" class="form-control" asp-for="FeaturedVideoContentYoutube">
								<span asp-validation-for="FeaturedVideoContentYoutube" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-6 mb-3" id="vimeo" style="display:none;">
							<label for="">Featured Video Content (Vimeo) *</label>
							<div class="form-group">
								<input type="text" class="form-control" asp-for="FeaturedVideoContentVimeo">
								<span asp-validation-for="FeaturedVideoContentVimeo" class="text-danger"></span>

							</div>
						</div>
						<div class="col-md-6 mb-3" id="mp4" style="display:none;">
							<label for="">Featured Video Content (MP4) *</label>
							<div class="form-group">
								<input type="file" asp-for="FeaturedVideoContentMp4File">
								<span asp-validation-for="FeaturedVideoContentMp4File" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input name="form_submit" type="submit" class="btn btn-primary" value="Submit">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<script>

		$(document).ready(function() {
			$('#featured_video_type').on('change', function() {
				// Hide all video content sections
				$('#youtube, #vimeo, #mp4').hide();

				// Get selected value
				var selectedValue = $(this).val();
					$('#FeaturedVideoContentYoutube').val('');
						$('#FeaturedVideoContentVimeo').val('');
									// Show corresponding section based on selected value
				if (selectedValue == 'youtube') {
					$('#youtube').show();
				} else if (selectedValue == 'vimeo') {
					$('#vimeo').show();
				} else if (selectedValue == 'mp4') {
					$('#mp4').show();
				}
			});
		});


	</script>

}